/* Main element */
[id^=destination-component-]{
    font-family: $destination-component-font-family;
    position: relative;
    display: flex;
    width: 100%;
    color:$destination-component-text-color;
    font-size: $destination-component-input-font-size;
    height: $destination-component-input-height;
    border-radius: $destination-component-border-radius;
    align-items: center;
    justify-content: space-between;
    &.shadow{
        border: 1px solid $destination-component-border-color;
        box-shadow: $destination-component-input-box-shadow;
    }

    svg{
        margin-right: 10px;
        width: 10px;
         -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        fill: #333333;
        transition: transform .2s,margin .2s,-webkit-transform .2s;
    }

    &.destination-component-single svg{
        display: none;
    }
}

/* This modifier a body */
.destination-component--opened{
    overflow: hidden;
}

.destination-component-single{
    pointer-events: none;
    opacity: 1;
}

/* Main element placeholder text */
.destination-component_placeholder{
    color: $destination-component-input-color;
    font-size: $destination-component-input-font-size;
    align-items: center;
    padding-left: .8em;
    pointer-events: none;
}

/* Dropdown */
.destination-component_dropdown{
    display: none;
    position: absolute;
    min-width: $destination-component-dropdown-width;
    z-index: 99999;
    background: #ffffff;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

    &--bottom {
        flex-flow: column;
        flex-direction: column;
        top: calc($destination-component-input-height + 1px);
        border-top: none; /*1px solid #fff;*/
        box-shadow: $destination-component-dropdown-box-shadow;
        border-radius: 0px 0px $destination-component-border-radius $destination-component-border-radius;
    }

    &--top {
        flex-flow: column-reverse;
        flex-direction: column-reverse;
        bottom:41px;
        border-bottom: 1px solid #fff;
        box-shadow: $destination-component-dropdown-box-shadow;
        border-radius: $destination-component-border-radius $destination-component-border-radius 0px 0px;
    }
}

/* Dropdown on show */
.destination-component_dropdown_show{

    &[id^=destination-component-]{
        border-radius: $destination-component-border-radius $destination-component-border-radius 0px 0px;

        svg{
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    .destination-component_dropdown{
        display: flex;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        height: auto;
        opacity: 1;
    }
}

.destination-component-header{
    height: 63px;
    align-items: center;
    background: #495FD7;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}

.destination-component-close{
    cursor: pointer;
    svg{
        width:28px;
        fill: #ffffff;
    }
}

/* Search box */
.destination-component_search-container{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    background: #f1f1f1;
}

.destination-component_search-container input{
    box-sizing: border-box;
    background: #fff;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #d6d6d6;
    border-radius: calc($destination-component-border-radius + 1px);
    box-shadow: 0px 0px 3px #0000001A;
    font-size: .9em;
    color: #314754;
}

.destination-component_container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    max-height: 400px;
    overflow-y: scroll;
}

.one-level{
    .destination-component_option{
        padding: 0;
    }
}

.destination-component--mobile{
    &.destination-component_dropdown_show{
        .destination-component_dropdown{
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            height: 100%;
            max-height: 100%;
        }

        .destination-component_container{
            max-height: auto;
        }
    }
}

.destination-component_option{
    margin: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: $destination-component-option-background-color;
    background-clip: content-box;
}

.destination-component_no_result{
    padding: 10px;
    text-transform: uppercase;
    color: #d6d6d6;
}

.destination-component_image{
    background: $destination-component-base-color;
    padding: 10px;
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.3em;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #111;
    box-sizing: border-box;
    transition: opacity .2s ease-in;
    opacity:1;
    cursor: pointer;
    background-repeat:no-repeat;
    background-size:cover;
    flex-flow: column;
    &:hover{
        color: color($destination-component-option-background-color blackness(10%));
        opacity: 0.8;
    }
}

.destination-component_title{
    text-align: center;
}

.destination-component_square{
    pointer-events: none;
    width: 10px;
    height: 10px;
    background:#e4e4e4;
    margin-right: 10px;
    margin-top: 2px;
}

.destination-component_subtitle{
    font-size: 0.6em;
}

.destination-component_list{
    .destination-component_image{
        height: 50px;
        background-image: none!important;
        text-shadow: none;
        flex-flow: row;
        padding: 0 10px 0 20px;
        justify-content:space-between;
    }
    .destination-component_title{
        text-align: left;
    }
}

.two-columns:not(.one-level){
    .destination-component_option{
        width: 50%;
    }
}
.three-columns:not(.one-level){
    .destination-component_option{
        width: 33.333%;
    }
}

.destination-component--mobile{
    .three-columns:not(.one-level){
        .destination-component_option{
            width: 100%;
        }
    }
}
.destination-component_zone_level_title,
.destination-component_last_level_title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.destination-component_zone_level_title{
    background: color($destination-component-base-color lightness(80%));
    padding:0 10px 0 20px;
    height: 50px;
    transition: background .3s ease;
    color:$destination-component-input-color;
    font-size: 1.05em;
    &:hover{
        color:#fff;
        background: color($destination-component-base-color lightness(50%));
    }

    &.active{
        color:#fff;
        background: color($destination-component-base-color lightness(50%));
    }
}
.destination-component_last_level_title{
    border-bottom:1px solid color($destination-component-option-background-color blackness(10%));
    height: 50px;
    padding:0 10px 0 20px;
    background: $destination-component-option-background-color;
    transition: background .3s ease;
    &:hover{
        background: #f1f1f1;
    }
    &.active{
        background: #f1f1f1;
    }
    svg{
        margin: 0;
        width: 7px;
        margin-left:-2px;
    }
}

.destination-component_star{
    margin-top: -9px;
    margin-left:4px;
}
