/* GENERAL */
$destination-component-border-radius: 3px;
$destination-component-input-color: #181D34;
$destination-component-border-color: #d7d7d7;
$destination-component-base-color: #345379;
$destination-component-input-height: 40px;
$destination-component-input-font-size: .9em;
$destination-component-text-color: #212529;
$destination-component-font-family: 'Lato', sans-serif;

/* OPTION */
$destination-component-option-background-color: #f5f5f9;
$destination-component-option-background-color_hover: #ffffff;

/* INPUT */
$destination-component-input-box-shadow:0px 1px 2px 0px rgba(176,176,176,0.5);

/* DROPPDOWN */
$destination-component-dropdown-width: 310px;
$destination-component-dropdown-box-shadow: 0px 4px 9px 1px rgba(176,176,176,1);



